@{
    ViewBag.Title = "Library - Login";
}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <form action="@Url.Action("Login")" method="post">
                    <h1>Login</h1>
                    <br />
                    <p>Username:</p>
                    <input class="form-input" name="username" type="text" size="20" value="" />
                    <br />
                    <br />
                    <input class="btn" type="submit" value="Submit" />
                </form>
            </div>
        </div>
    </div>
</div>