@model BookListViewModel

<div class="container">
    <div class="content">
        <table class="table table-striped">
            <tr>
                <td><h2>Books</h2></td>
            </tr>
            @foreach (var book in Model.Books)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("View", new { title = book.Title })">@book.Title</a>
                    </td>
                </tr>
            }
            <tr>
                <th class="header" style="text-align: left"></th>
            </tr>
        </table>
        <a href="@Url.Action("New")" class="btn">new book</a>
    </div>
</div>